.inputContainer {
  position: relative;
  label {
    color: #aeafc4;
    font-weight: 500;
    transition: all 300ms ease-in;
    pointer-events: none;
    background-color: white;
    position: absolute;
    transform: translate(14px, 50%);
  }
  &:focus-within,
  &.active {
    label {
      font-weight: 400;
      font-size: 12px;
      transform: translate(8px, -10px);
    }
  }
}
