.formContainer {
  width: 525px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  padding: 40px;
  &,
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .title {
    margin-bottom: 24px;
    color: #0c1049;
    font-weight: 700;
    font-size: 32px;
  }
}
.CTAContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  .secondary,
  .primary {
    cursor: pointer;
    border: none;
    padding: 12.5px;
    border-radius: 8px;
  }
  .secondary {
    color: #395bd3;
    background-color: #f2f5ff;
  }
  .primary {
    color: white;
    background-color: #395bd3;
  }
}
